# Build in types

Sequences : 
Tuples

Lists

Bytes

Strings

And so on.

A sequence is a finite set indexed from 0 to n-1 if the sequence contains n elements.

In [1]:
S = range(10)
print(S)
print(S[1])
len(S)
type(S)
s = tuple(S)
type(s)

range(0, 10)
1

tuple

In [2]:
#Memebership testinf: 
0 in S
0 not in S

False

In [3]:
S.index(9)

9

In [4]:
S.count(S)

0

In [5]:
'x'*30
#shallow copy

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [6]:
#slicing : returns a new object
s1 = s[0::3]
s1

(0, 3, 6, 9)

In [7]:
#add a step, i.e. one over two
s2 = S[::2]
for e in s2:
    print(e)

0
2
4
6
8

In [8]:
#tuple is immutable, on the contrary of a list
#it is a sequence-like object
#parenthesis are optional
t= ()
type(t)
t

()

In [9]:
t = (1,)
tuple(t)

(1,)

In [10]:
t = 1,
t

(1,)

In [11]:
1 in t

True

In [12]:
a = list(t)
a

[1]

In [13]:
type(a)

list

In [14]:
a[0] = False

In [15]:
t= tuple(a)

In [16]:
t

(False,)

tuple is used for tuple unpacking. in a tuple, a and b, join these two variables to the ones of same lenght

In [17]:
(a,b,c) = [3,4,5]

In [18]:
a

3

In [19]:
c

5

In [20]:
a,b,c =[3,4,5]

In [21]:
a=list(range(10))

In [22]:
x, *y =a

In [23]:
x

0

In [24]:
y

[1, 2, 3, 4, 5, 6, 7, 8, 9]